/* index.css */

body {
  background: #fff !important;
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Menlo';
}

h2 {
  font-weight: 400;
}

.MuiAccordion-root {
  background-color: #fff !important;
  color: #000 !important;
}

.MuiAccordionSummary-expandIconWrapper {
  color: #fff;
}
